
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.modal-body table {
    width: 100%;
}

.modal-body th,
.modal-body td {
    text-align: center;
}

.modal-footer {
    justify-content: center;
}

/* Optional: Customize button colors */
.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-secondary:hover {
    background-color: #5a6268;
    border-color: #545b62;
}
